section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: clamp(2rem, 7vw, 2.5rem);
    font-weight: 550;
}

.content {
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-top: 5px;
    padding: 0 100px;
}