.card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
}

.itemImage {
    width: 50%;
    aspect-ratio: 1/1;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
}