footer>section {
    padding: 10px;
    width: 100vw;
    border-top: 1px solid black;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: min(5%, 10px);
    opacity: 0.8;
}

section.contact-me-section>div {
    flex: 1;
    display: flex;
    gap: min(5%, 25px);
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

section.contact-me-section>div>a {
    width: min(15%, 50px);
    height: auto;
}

section.contact-me-section>div>a>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

footer p {
    flex: 1;
    flex-basis: 50%;
    font-size: 0.9rem;
    color: black;
    opacity: 0.8;
}